<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>RevFly</string>
    <key>CFBundleName</key>
    <string>RevFly</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>RevFly needs access to the microphone to record speech for transcription and translation.</string>
    <key>CFBundleIconFile</key>
    <string>icon.icns</string>
    <key>LSUIElement</key>
    <true/>
</dict>
</plist>
